attrs==17.4.0
Automat==0.6.0
certifi==2017.11.5
chardet==3.0.4
constantly==15.1.0
cssselect==1.0.3
cycler==0.10.0
django>=1.11.18
django-pagination-bootstrap==1.2.4
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
olefile==0.44
Pillow==4.3.0
protobuf==3.1.0
PyMySQL==0.8.0
pyparsing==2.2.0
pyquery==1.4.0
python-dateutil==2.6.1
pytz==2017.3
zope.interface==4.4.3
